.navbar-custom { 
  background-color: black
} 
/* Modify brand and text color */ 

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
  color: white 
} 

h1 { color: black;
    font-family: 'Times New Roman';
    font-size: 40px;
    text-align: center;
}
h5 { color: black;
  font-family: 'Times New Roman';
  font-size: 15px;
  text-align: center;
}

h2 { color: black;    
    font-size: 30px;
    text-align: left;
}
p{
    font-family: 'Arial';
    font-size: 13px;

}
.ml15 {
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }
h3 { color:darkslategray;
  font-family: 'Arial' }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
img{
    height : 200px;
}

body{
    background-color: whitesmoke;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    
  }
  
  th, td {
    text-align: center;
    padding: 25px;
    

  }

  tr:nth-child(even) {
    background-color: whitesmoke;
    
  } 
  tr:nth-child(odd) {
    background-color: lightgray;
        
  }     
  

