<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Type 2 Diabetes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"></link>
    
    </head>

      <body>
        <img src="../static/images/Diabetes_1.jpg" style="width:800px; height:200px;" class="center"/>    
        <nav class="navbar navbar-custom"> 
          
          <ul class="nav navbar-nav">
            <li class="active"><a class="navbar-brand" href="index.html">HOME</a></li>
            <li><a class="navbar-brand" href="etl.html">ETL</a></li>
            <li><a class="navbar-brand" href="ml.html">MACHINE LEARNING</a></li>
          </ul>
        </nav>   
        
        <h1 class="ml15">
          <span class="word">MACHINE LEARNING </span>
          <span class="word">- Type 2 Diabetes</span>          
        </h1>            
    
        <div class="container">
      
          <div class="row">        
            <div class="col-md-12 jumbotron text-left"> 
              <h2>Introduction</h2>
              <h3>The <a href="https://en.wikipedia.org/wiki/Pima_people">Pima</a> are a group of          
             Native Americans living in Arizona.A genetic predisposition allowed this group to survive normally to a diet poor of carbohydrates for years. In the recent years, because of a
            sudden shift from traditional agricultural crops to processed foods, together with a decline in physical activity, made them develop the highest prevalence of type 2 diabetes and for this reason they have been
            subject of many studies.</h3>                     
            </div>
          </div>
          <div class="row">   
              <div class="col-md-12 jumbotron text-left">
                <h2>Dataset</h2>
                <p>
                  <h3>
                    The dataset includes data from 768 women with the following 8 characteristics:
                    <br>
                    <br>1.&nbsp;&nbsp;Number of times pregnant
                    <br>2.&nbsp;&nbsp;Plasma glucose concentration a 2 hours in an oral glucose tolerance test
                    <br>3.&nbsp;&nbsp;Diastolic blood pressure (mm Hg)
                    <br>4.&nbsp;&nbsp;Triceps skin fold thickness (mm)
                    <br>5.&nbsp;&nbsp;2-Hour serum insulin (mu U/ml)
                    <br>6.&nbsp;&nbsp;Body mass index (weight in kg/(height in m)^2)
                    <br>7.&nbsp;&nbsp;Diabetes pedigree function
                    <br>8.&nbsp;&nbsp;Age (years)
                    <br><br>The last column of the dataset indicates if the person has been diagnosed with diabetes(1) or not(0)
                  </h3>
                </p> 
              </div>
          </div>
        

        <div class="row">        
          <div class="col-md-12 jumbotron text-left"> 
            <h2>The Problem</h2>        
              <h3>
                The type of dataset and problem is a classic supervised binary classification. Given a number of elements all with certain characteristics (features), we want to build a machine learning model to identify people affected by type 2 diabetes.
                To solve the problem we will have to analyse the data, apply a machine learning algorithm, train a model, check the performance of the trained model and iterate with other algorithms until we find the most performant for our type of dataset.
              </h3>
          </div>
        </div>
    </div>
   
    <footer><h5>
     <b>&copy;Bootcamp 2020 Dhingra & Ornelas </b>
    </h5>
    </footer>
 

  </body>
</html>